<template>
  <section class="container">
    <div>
      <section class="section">
        <h1 class="title">
          {{ $t('alpha.welcome') }}
        </h1>
        <h2 class="subtitle">
          {{ $t('alpha.description') }}
        </h2>
      </section>

      <div class="section">
        <div class="columns is-mobile">
          <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
            <b-message
              :closable="false"
              :title="$t('alpha.warningTitle')"
              type="is-danger"
              has-icon>
              {{ $t('alpha.warningText') }}
            </b-message>
          </div>
        </div>
      </div>

      <div v-if="appInitialized">
        <div
          v-if="currentUser"
          class="section">
          <div class="columns is-mobile">
            <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
              <b-message
                :closable="false"
                :title="$t('alpha.registerdTitle')"
                type="is-info">
                <nuxt-link :to="localePath({name: 'chat'})">{{ $t('alpha.registerdText') }}</nuxt-link>
              </b-message>
            </div>
          </div>
        </div>

        <div
          v-else-if="$firebase.auth().currentUser"
          class="section">
          <div class="columns is-desktop">
            <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
              <b-field :label="$t('alpha.tokenInputLabel')">
                <b-input
                  :placeholder="$t('alpha.tokenInputPlaceholder')"
                  v-model="token"
                  icon="key"/>
              </b-field>
              <button
                :disabled="!token"
                class="button"
                @click="createDevUser">
                {{ $t('alpha.buttonText') }}
              </button>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="columns is-desktop">
            <div class="column is-three-fifths-desktop is-offset-one-fifth-desktop">
              <button
                v-if="googleLogin"
                class="button"
                @click="signOut">
                {{ $t('alpha.logout') }}
              </button>
              <button
                v-else
                class="button"
                @click="auth">
                {{ $t('alpha.login') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      token: null
    };
  },
  computed: {
    ...mapGetters("app", ["appInitialized", "currentUser"]),
    googleLogin() {
      return this.appInitialized && this.$firebase.auth().currentUser;
    }
  },
  methods: {
    ...mapActions("app", ["auth"]),
    async signOut() {
      await this.$store.dispatch("app/signOut");
      this.$forceUpdate();
    },
    async createDevUser() {
      try {
        await this.$store.dispatch("app/setCurrentUser", {
          token: this.token,
          user: this.$firebase.auth().currentUser
        });
      } catch (e) {
        alert(this.$t("alpha.tokenChallengeFailed") + e.message);
      }
    }
  }
};
</script>

<style scoped>
</style>
