<template>
  <div class="columns reverse-row-order">
    <div class="column is-one-quarter is-hidden-touch">
      <right-tile />
    </div>

    <div class="column is-full-mobile is-three-quarters-tablet is-half-desktop">
      <center-tile />
    </div>

    <div class="column is-one-quarter">
      <left-tile />
    </div>
  </div>
</template>

<script lang="ts">
import * as ChatComponents from "~/components/chat/index";
import { stampUrl } from "~/static/stamps";

const getThemesFromQuery = query => {
  // if no query exists, return empty array
  if (!query.themes) {
    return [];
  }

  // isArray check
  // (it may be array for multiple themes in query, or be string for single theme in query)
  return Array.isArray(query.themes) ? query.themes : [query.themes];
};

export default {
  components: { ...ChatComponents },
  watch: {
    async $route(to) {
      const themes = getThemesFromQuery(to.query);
      await this.$store.dispatch("chat/selectThemes", { themes });
    }
  },
  async mounted() {
    const themes = getThemesFromQuery(this.$route.query);
    await this.$store.dispatch("chat/selectThemes", { themes });
  }
};
</script>

<style lang="scss">
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
.chat-tile {
  width: 100%;
  .media-content {
    width: 100%;
    .content {
      width: 100%;
      word-break: break-word;
    }
  }
}
// put buttons on right bottom of modal footer
.modal-card-foot {
  justify-content: flex-end;
}
// switch column order between desktop and mobile
.reverse-row-order {
  flex-direction: row-reverse;
}
</style>
