<template>
  <div>
    <div class="hero is-medium is-light">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
            <b-icon icon="pound"/>
            tagbottle
            <b-icon icon="pound"/>
          </h1>
          <h2 class="subtitle">
            {{ $t("top.content.subtitle") }}
          </h2>
          <div
            v-if="appInitialized"
          >
            <div>
              <b-field
                grouped
                groupe-multiline
                position="is-centered"
              >
                <p class="control">
                  <nuxt-link
                    v-if="currentUser"
                    :to="localePath({name: 'chat'})"
                    tag="button"
                    class="button is-info">
                    {{ $t("top.buttonForChat") }}
                  </nuxt-link>
                  <button
                    v-else
                    tag="button"
                    class="button is-info"
                    @click="auth"
                  >
                    {{ $t("top.buttonForLogin") }}
                  </button>
                </p>
              </b-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <div class="content">
                <h3 class="title has-text-weight-normal has-text-centered">
                  <p>
                    <b-icon
                      icon="tag"
                      size="is-large"
                    />
                  </p>
                  <p>
                    {{ $t("top.content.titleForTag") }}
                  </p>
                </h3>
                <p>
                  {{ $t("top.content.descriptionTag") }}
                </p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                <h3 class="title has-text-weight-normal has-text-centered">
                  <p>
                    <b-icon
                      icon="message-text"
                      size="is-large"
                    />
                  </p>
                  <p>
                    {{ $t("top.content.titleForChat") }}
                  </p>
                </h3>
                <p>
                  {{ $t("top.content.descriptionChat") }}
                </p>
              </div>
            </div>
            <div class="column">
              <div class="content">
                <h3 class="title has-text-weight-normal has-text-centered">
                  <p>
                    <b-icon
                      icon="thumb-up"
                      size="is-large"
                    />
                  </p>
                  <p>
                    {{ $t("top.content.titleForStamp") }}
                  </p>
                </h3>
                <p>
                  {{ $t("top.content.descriptionStamp") }}
                </p>
              </div>
            </div>
          </div>
          <b-field
            grouped
            groupe-multiline
            position="is-centered"
          >
            <p class="control">
              <nuxt-link
                v-if="currentUser"
                :to="localePath({name: 'chat'})"
                tag="button"
                class="button is-info">
                {{ $t("top.buttonForChat") }}
              </nuxt-link>
              <button
                v-else
                tag="button"
                class="button is-info"
                @click="auth"
              >
                {{ $t("top.buttonForLogin") }}
              </button>
            </p>
          </b-field>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapActions } from "vuex";

export default {
  layout: "top",
  computed: {
    ...mapGetters("app", ["appInitialized", "currentUser"])
  },
  methods: {
    ...mapActions("app", ["auth", "signOut"])
  }
};
</script>

<style scoped>
</style>
