<template>
  <div>
    <b-loading
      :is-full-page="true"
      :active="!currentUser"
      :can-cancel="false"/>
    <div v-if="currentUser">
      <div class="columns">
        <div class="column is-one-third-desktop">
          <h3 class="title is-3">{{ $t('profile.edit.title') }}</h3>
        </div>
        <div class="column">
          <label class="label">{{ $t('profile.edit.labelForIcon') }}</label>
          <b-field>
            <figure class="image is-128x128">
              <img
                v-if="currentUser.photoUrl"
                :src="currentUser.photoUrl"
              >
              <b-loading
                v-else
                :is-full-page="false"
                :active="isIconLoading"
              />
            </figure>
          </b-field>
          <b-field class="file">
            <b-upload
              v-model="files"
              accept="image/*"
              @input="uploadIcon"
            >
              <a class="button is-info">
                {{ $t('profile.edit.uploadIcon') }}
              </a>
            </b-upload>
          </b-field>
          <b-field
            :label="$t('profile.edit.labelForDisplayName')"
            has-icons-left>
            <b-input
              ref="displayNameInput"
              :value="currentUser.displayName"
              icon="account"
            />
          </b-field>
          <b-field>
            <div class="control">
              <button
                class="button is-info"
                @click="changeDisplayName"
              >
                {{ $t('profile.edit.changeDisplayName') }}
              </button>
            </div>
          </b-field>
          <b-field
            :label="$t('profile.edit.labelForUsername')"
            has-icons-left>
            <b-input
              ref="usernameInput"
              :value="currentUser.username"
              icon="account"
            />
          </b-field>
          <b-field grouped>
            <div class="control">
              <button
                class="button is-warning"
                @click="changeUsername">
                {{ $t('profile.edit.changeUsername') }}
              </button>
            </div>
          </b-field>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      files: [],
      isIconLoading: false
    };
  },
  computed: {
    ...mapGetters("app", ["currentUser"])
  },
  methods: {
    async changeDisplayName() {
      const displayName = this.$refs.displayNameInput.newValue;

      // exit if there is no changes
      if (displayName === this.currentUser.displayName) {
        return;
      }

      if (displayName) {
        await this.$store.dispatch("app/changeDisplayName", { displayName });
        this.$toast.open(
          this.$i18n.t("profile.edit.succeedChangingDisplayName")
        );
      }
    },
    async changeUsername() {
      const username = this.$refs.usernameInput.newValue.trim();

      // exit if there is no changes
      if (username === this.currentUser.username) {
        return;
      }

      // validate username
      if (!username || username.match(/\W/)) {
        this.$toast.open({
          message: this.$i18n.t("profile.edit.invalidUsernameWarning"),
          type: "is-warning"
        });
        return;
      }

      // warning about risk
      if (!confirm(this.$i18n.t("profile.edit.confirmToChangeUsername"))) {
        return;
      }

      try {
        // success
        await this.$store.dispatch("app/changeUsername", { username });
        this.$toast.open(this.$i18n.t("profile.edit.succeedChangingUsername"));
      } catch (e) {
        // failure
        this.$toast.open({
          message: this.$i18n.t("profile.edit.failedToChangeUsername"),
          type: "is-danger"
        });
      }
    },
    async uploadIcon() {
      try {
        // success
        await this.$store.dispatch("app/changeIcon", {
          filePath: this.files[0]
        });
        this.$toast.open(this.$i18n.t("profile.edit.succeedChangingIcon"));
        // spinner until converted on server
        this.isIconLoading = true;
      } catch (e) {
        this.$toast.open({
          message: this.$i18n.t("profile.edit.failedToChangeIcon"),
          type: "is-danger"
        });
      } finally {
        this.files = [];
      }
    }
  }
};
</script>

<style scoped>
</style>
