<template>
  <div>
    <div class="content has-background-white">
      <h1 class="title">スタンプショップ</h1>
      <p>スタンプショップ領域</p>
    </div>
    <div class="content has-background-white">
      <h1 class="title">つけたスタンプ一覧</h1>
      <p>スタンプをつけたメッセージ表示領域</p>
    </div>
    <div v-if="appInitialized">
      <div v-if="currentUser">
        <button
          class="button"
          @click="orderStampSet"
        >
          orderStampSet
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters } from "vuex";
import { firestore } from "firebase/app";
import orderStamp from "tomato-puree/client/stamp/orderStamp";
import { RefGenerator } from "tomato-puree/client/ref";

export default {
  computed: {
    ...mapGetters("app", ["appInitialized", "currentUser"])
  },
  methods: {
    async orderStampSet() {
      const db = this.$firebase.firestore();
      const refGenerator = new RefGenerator(db);
      console.log("auth", this.$firebase.auth());
      const userRef = refGenerator.user(this.$firebase.auth().currentUser.uid);
      const stampSetRef = refGenerator.stampSet("WaYfYvUZdJOgmTvhv7oz");
      const props = {
        userRef,
        paymentToken: "test-token",
        stampSetRef,
        amount: 100,
        price: "0",
        currency: "JPY",
        timestamp: firestore.FieldValue.serverTimestamp()
      };
      const result = await orderStamp(db, props);
      console.log(result);
    }
  }
};
</script>

<style scoped>
</style>
