<template>
  <div>
    <div class="content has-background-white">
      <h1 class="title">話題のタグ</h1>
      <p>タグクラウド表示領域</p>
    </div>
    <div class="content has-background-white">
      <h1 class="title">新しいタグ</h1>
      <p>新着タグ表示領域</p>
    </div>
    <div class="content has-background-white">
      <h1 class="title">タグ検索</h1>
      <p>タグ検索input</p>
    </div>
  </div>
</template>

<script lang="ts">
</script>

<style scoped>
</style>
