<template>
  <div class="tile is-ancestor">
    <div class="tile chat-tile is-parent is-vertical">

      <div class="tile is-child box is-hidden-tablet">
        <div>
          <tag-summary :themes="themes"/>
        </div>
      </div>

      <div class="tile is-child box">
        <text-input/>
      </div>

      <div
        v-if="!isLatestBottle"
        class="tile is-child"
      >
        <button
          class="button is-fullwidth is-info is-inverted"
          @click="selectCurrentBottle"
        >
          {{ $t('chat.moveToLatestBottle') }}
        </button>
      </div>

      <div class="tile is-child box">
        <Message
          v-for="message in messages"
          :key="message.id"
          :message="message"
          :current-user="currentUser"
          :stamps="stamps"
        />
      </div>

      <div class="tile is-child">
        <button
          v-if="hasOlderMessages"
          class="button is-fullwidth is-info is-inverted"
          @click="loadAllMessages"
        >
          {{ $t('chat.displayAllMessages') }}
        </button>
      </div>

      <b-loading
        :is-full-page="true"
        :active.sync="loading"
        :can-cancel="false"/>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters, mapState, mapActions } from "vuex";
import * as ChatComponents from "~/components/chat/index";
import { stampUrl } from "~/static/stamps";

export default {
  components: { ...ChatComponents },
  data() {
    return {
      stampUrl: stampUrl,
      inputOpen: true
    };
  },
  computed: {
    ...mapGetters("app", ["currentUser", "bookmark"]),
    ...mapGetters("chat", [
      "hasOlderMessagesOfCurrentBottle",
      "isLatestBottle",
      "currentBottleIndex"
    ]),
    ...mapState("chat", ["themes", "loading"]),
    messages() {
      return this.$store.getters["chat/messages"];
    },
    stamps() {
      return this.$store.getters["chat/stamps"];
    },
    hasOlderMessages() {
      return this.messages.length >= 10 && this.hasOlderMessagesOfCurrentBottle;
    }
  },
  methods: {
    ...mapActions("chat", ["sendStamp"]),
    ...mapGetters("binding/bottleMessages", ["isAllBind"]),
    async selectCurrentBottle() {
      await this.$store.dispatch("chat/selectBottleIndex", {
        index: this.currentBottleIndex
      });
    },
    async loadAllMessages() {
      await this.$store.dispatch("chat/loadAllMessagesOfCurrentBottle");
    }
  }
};
</script>
