// https://github.com/nuxt-community/modules/issues/185#issuecomment-363486760

<template>
  <div v-html="$md.render(content)"/>
</template>

<script lang="ts">
import queryString from "query-string";

export default {
  props: {
    content: {
      type: String,
      required: true
    }
  },
  watch: {
    content: "contentUpdated"
  },
  mounted() {
    // add listener for tag link
    this.addListeners();
  },
  beforeDestroy() {
    // remove listener for tag link
    this.removeListeners();
  },
  methods: {
    navigate(event) {
      const href = event.target.getAttribute("href");
      if (href && href[0] === "/") {
        event.preventDefault();
        const { url, query } = queryString.parseUrl(href);
        this.$router.push(this.localePath({ path: url, query }));
      }
    },
    contentUpdated() {
      this.removeListeners();
      this.$nextTick(() => {
        this.addListeners();
      });
    },
    addListeners() {
      this._links = this.$el.getElementsByTagName("a");
      for (let i = 0; i < this._links.length; i++) {
        this._links[i].addEventListener("click", this.navigate, false);
      }
    },
    removeListeners() {
      if (Array.isArray(this._links) && this._links.length > 0) {
        for (let i = 0; i < this._links.length; i++) {
          this._links[i].removeEventListener("click", this.navigate, false);
        }
        this._links = [];
      }
    }
  }
};
</script>

<style scoped/>
