<template>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child box is-hidden-mobile">
        <tag-summary :themes="themes"/>
      </div>
      <div class="tile is-child box is-hidden-mobile">
        <div class="menu has-background-white">
          <p class="menu-label">
            {{ $t('bookmark.label') }}
          </p>
          <nested-ul
            :current="themes"
            :nested="nested"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { mapGetters, mapState } from "vuex";
import * as ChatComponents from "~/components/chat/index";

export default {
  components: { ...ChatComponents },
  computed: {
    ...mapGetters("app", ["nested"]),
    ...mapState("chat", ["themes"])
  }
};
</script>
