<template>
  <article
    class="media tb-chat-message">
    <figure class="media-left">
      <p class="image is-48x48">
        <img :src="currentUser.photoUrl">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <strong>
          <span>0: </span>
          <span>{{ currentUser.displayName }}</span>
          <span class="is-hidden-mobile">({{ currentUser.username }})</span>
        </strong>
        <span class="is-size-7 is-italic"> 00/00/00 00:00</span>
        <html-parser :content="text"/>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import HtmlParser from "~/components/chat/htmlParser";
import { mapGetters } from "vuex";

export default {
  components: { HtmlParser },
  props: {
    // draft message
    text: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapGetters("app", ["currentUser"])
  }
};
</script>

<style scoped>
</style>
