<template>
  <article
    v-if="message.loaded"
    class="media tb-chat-message">
    <figure class="media-left">
      <p class="image is-48x48">
        <img :src="message.user.photoUrl">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <span
          :id="'message' + message.index"
          class="is-clearfix"
        >
          <span class="is-pulled-right">
            <a @click="openStampModal(message)">
              <b-icon
                icon="thumb-up"
              />
            </a>
          </span>
          <span class="is-pulled-right">
            <a @click="openEditModal(message)">
              <b-icon
                v-if="isMessageAuthor(message)"
                icon="pencil"
              />
            </a>
          </span>
          <strong>
            <span>{{ message.index }}: </span>
            <span
              :title="message.user.displayName"
            >
              {{ shortenName(message.user.displayName) }}
            </span>
            <span
              :title="message.user.username"
              class="is-hidden-mobile"
            >
              ({{ shortenName(message.user.username) }})
            </span>
          </strong>
          <span class="is-size-7 is-italic"> {{ displayDate(message) }}</span>
        </span>
        <html-parser :content="message.text"/>
      </div>
      <div
        @mouseenter="onMouse = true"
        @mouseleave="onMouse = false"
      >
        <b-field
          grouped
          group-multiline
        >
          <div
            v-for="stamp in message.stamps"
            :key="stamp.stampSet + stamp.stampItemId"
            class="control"
          >
            <span
              :data-badge="stamp.amount"
              class="badge is-badge-danger is-badge-small"
            >
              <a
                @click="sendStamp({messageId: message.id, stampId: value.stamp})"
              >
                <img
                  :src="stampUrl(stamp.stampSet, stamp.stampItemId)"
                  :class="stampClass"
                >
              </a>
            </span>
          </div>
        </b-field>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { mapActions, mapGetters } from "vuex";
import { IStampSetDocument } from "tomato-puree/client/firestoreDocType";

import EditMessageModal from "~/components/chat/editMessageModal";
import HtmlParser from "~/components/chat/htmlParser";
import SelectStampModal from "~/components/chat/selectStampModal";

export default {
  name: "Message",
  components: { SelectStampModal, HtmlParser },
  props: {
    message: {
      type: Object,
      required: true
    },
    currentUser: {
      type: Object,
      required: true
    },
    stamps: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      onMouse: false
    };
  },
  computed: {
    stampClass() {
      if (this.onMouse) {
        return "image is-96x96";
      } else {
        return "image is-48x48";
      }
    }
  },
  methods: {
    ...mapActions("chat", ["sendStamp"]),
    stampUrl(stampSetId: string, stampItemId): string | null {
      const stampSetDoc = this.$store.state.binding.stampSet[stampSetId];
      if (!stampSetDoc) {
        return null;
      }

      const stampItemDoc = stampSetDoc.items.find(i => i.id === stampItemId);
      if (!stampItemDoc) {
        return null;
      }

      return stampItemDoc.url;
    },
    openEditModal({ id, text }) {
      this.$modal.open({
        parent: this,
        props: { id, text },
        component: EditMessageModal,
        hasModalCard: true,
        scroll: "keep"
      });
    },
    openStampModal({ id }) {
      this.$modal.open({
        parent: this,
        props: { id },
        component: SelectStampModal,
        hasModalCard: true,
        scroll: "keep"
      });
    },
    shortenName(value) {
      if (!value) {
        return;
      }
      if (value.length <= 15) {
        return value;
      } else {
        return value.slice(0, 15) + "...";
      }
    },
    displayDate({ timestamp }) {
      const options = {
        year: "2-digit",
        month: "2-digit",
        day: "2-digit",
        hour: "2-digit",
        minute: "2-digit"
      };
      // display local time if timestamp is null
      const date = timestamp ? new Date(timestamp.seconds * 1000) : new Date();
      return date.toLocaleString([], options);
    },
    isMessageAuthor({ user }) {
      // compare by id added by vue (observer)
      // TODO: compare by `/users` path
      return user.id === this.currentUser.id;
    },
    stampBadge({ num }) {
      // Hide badge when count is one
      return num > 1 ? num : null;
    }
  }
};
</script>

<style lang="scss">
.tb-chat-message {
  div {
    // https://weblog.west-wind.com/posts/2016/Feb/15/Flexbox-Containers-PRE-tags-and-managing-Overflow
    min-width: 0;
  }
  code {
    font-family: Consolas, monospace;
  }
}
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
