<template>
  <ul
    v-if="nested.length > 0"
    class="menu-list"
  >
    <li
      v-for="(tag, index) in nested"
      :key="index"
    >
      <nuxt-link
        v-if="isActiveThemes({themes: tag.themes})"
        :to="localePath({name: 'chat', query: {themes: tag.themes}})"
        class="is-active"
      >
        {{ tag.theme }}
      </nuxt-link>
      <nuxt-link
        v-else
        :to="localePath({name: 'chat', query: {themes: tag.themes}})"
      >
        <span>
          {{ tag.theme }}
        </span>
      </nuxt-link>
      <nested-ul
        :current="current"
        :nested="tag.children"
      />
    </li>
  </ul>
</template>

<script lang="ts">
import { mapGetters } from "vuex";
import encodeThemesToTagString from "tomato-puree/util/convert/tag/encodeThemesToTagString";
import Vue from "vue";

export default {
  name: "NestedUl",
  props: {
    nested: {
      type: Array,
      required: true
    },
    current: {
      type: Array,
      required: true
    }
  },
  methods: {
    encodeThemesToTagString,
    isActiveThemes({ themes: themes }) {
      return JSON.stringify(themes) === JSON.stringify(this.current);
    }
  }
};
</script>

<style scoped/>
