<template>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child box">
        <div class="menu has-background-white">
          <p class="menu-label">
            {{ $t('chat.notification.label') }}
          </p>
          <div
            v-for="(notification, index) in notifications"
            :key="index"
            class="content is-small"
          >
            <span class="is-pulled-right">
              <a @click="openStampModal(notification)">
                <b-icon
                  icon="thumb-up"
                  size="is-small"
                />
              </a>
            </span>
            <span class="is-italic overflow-wrap">&lt;{{ notification.timestamp }}&gt;
              <nuxt-link :to="localePath({name: 'chat', query: { themes: getThemes(notification.encodedTag)}})">
                #{{ decodeURIComponent(notification.encodedTag) }}#
              </nuxt-link>
            </span>
            <p>
              <strong>{{ notification.displayName }}: </strong>
              {{ notification.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapState } from "vuex";
import SelectStampModal from "~/components/chat/selectStampModal";
import stampTable from "~/static/stamps";
import encodeThemesToTagString from "tomato-puree/util/convert/tag/encodeThemesToTagString";

export default {
  components: { SelectStampModal },
  data() {
    return {
      stampTable: stampTable
    };
  },
  computed: {
    ...mapState("chat", ["themes"]),
    notifications(): any[] {
      return [];
    }
  },
  methods: {
    getThemes(value) {
      return decodeURIComponent(value).split("/");
    },
    openStampModal({ messageId }) {
      this.$modal.open({
        parent: this,
        props: { id: messageId },
        component: SelectStampModal,
        hasModalCard: true,
        scroll: "keep"
      });
    }
  }
};
</script>

<style
  lang="scss"
  scoped
>
.overflow-wrap {
  overflow-wrap: break-word;
}
</style>
