<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t("chat.stamp.labelForSelectStamp") }}</p>
    </header>
    <section class="modal-card-body">
      <b-loading
        :is-full-page="false"
        :active="loading"
        :can-cancel="false"/>
      <div
        v-for="buyInfo in stamps.stampStock.latestBought"
        :key="buyInfo.stampSet"
        class="content"
      >
        <h3 class="title">{{ stamps.stampSets[buyInfo.stampSet].title }}</h3>
        <b-field
          grouped
          group-multiline
        >
          <div
            v-for="item in stamps.stampSets[buyInfo.stampSet].items"
            :key="item.id"
            class="control"
          >
            <a
              @click="sendStamp({stampSetId: buyInfo.stampSet, stampItemId: item.id })"
            >
              <img
                :src="item.url"
                class="image is-96x96"
              >
            </a>
          </div>
        </b-field>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button
        class="button"
        type="button"
        @click="$parent.close()"
      >
        {{ $t("chat.stamp.buttonForCancel") }}
      </button>
    </footer>
  </div>
</template>

<script lang="ts">
import stamps from "~/static/stamps";

export default {
  props: {
    // message id to add stamp
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading: false,
      stamps
    };
  },
  methods: {
    async sendStamp({ stampSetId, stampItemId }) {
      this.loading = true;
      await this.$store.dispatch("chat/sendStamp", {
        messageId: this.id,
        stampSetId,
        stampItemId
      });
      this.loading = false;
      this.$parent.close();
    }
  }
};
</script>

<style scoped/>
