<template>
  <div>
    <b-field>
      <textarea-autosize
        ref="textInput"
        v-model="text"
        :min-height="30"
        :max-height="350"
        :placeholder="$t('chat.send.placeholderForTextInput')"
        rows="1"
        class="textarea"
        @keydown.native.meta.enter.prevent="sendMessage"
        @keyup.native.meta.enter.prevent="sendMessage"
        @keyup.native.ctrl.enter.prevent="sendMessage"
      />
    </b-field>
    <message-preview
      v-if="isPreviewActive"
      :text="text"
    />
    <span
      v-if="text && !isValidLength"
      class="content is-small has-text-danger"
    >
      {{ `${text.length} / 2048` }}
    </span>
    <b-field
      grouped
      position="is-right"
    >
      <p class="control">
        <b-tooltip
          :label="$t('chat.send.tooltipForPreview')"
          type="is-info"
          position="is-bottom"
        >
          <button
            :class="previewButtonClass"
            @click="isPreviewActive = !isPreviewActive"
          >
            <b-icon icon="eye"/>
          </button>
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip
          :label="$t('chat.send.tooltipForEmoji')"
          type="is-info"
          position="is-bottom"
        >
          <button
            class="button"
            @click="isEmojiActive = true"
          >
            <b-icon icon="emoticon"/>
          </button>
        </b-tooltip>
        <b-modal
          :active.sync="isEmojiActive"
          scroll="keep"
        >
          <input-emoji-modal
            @append-emoji="appendEmoji($event)"
          />
        </b-modal>
      </p>
      <p class="control">
        <button
          class="button is-info"
          @click.prevent="sendMessage"
        >
          <span>
            {{ $t('chat.send.buttonForPost') }}
          </span>
        </button>
      </p>
    </b-field>
  </div>
</template>

<script lang="ts">
import InputEmojiModal from "~/components/chat/inputEmojiModal";
import MessagePreview from "~/components/chat/messagePreview";
import { mapState, mapGetters } from "vuex";

export default {
  components: { InputEmojiModal, MessagePreview },
  data() {
    return {
      isEmojiActive: false,
      isPreviewActive: false,
      text: ""
    };
  },
  computed: {
    ...mapState("chat", ["themes"]),
    ...mapGetters("chat", ["isLatestBottle"]),
    isValidLength() {
      return this.text.length > 0 && this.text.length <= 2048;
    },
    previewButtonClass() {
      return this.isPreviewActive ? "button is-info" : "button";
    }
  },
  methods: {
    async sendMessage() {
      if (!this.isValidLength) {
        this.$toast.open({
          message: this.$i18n.t("chat.send.failedDueToStringLength"),
          type: "is-danger"
        });
        return;
      } else if (!this.isLatestBottle) {
        this.$toast.open({
          message: this.$i18n.t("chat.send.failedDueToOldBottle"),
          type: "is-danger"
        });
        return;
      }
      const { text, themes } = this;
      this.text = "";
      await this.$store.dispatch("chat/sendMessage", { text, themes });
    },
    // called from emoji modal components
    appendEmoji(value) {
      this.text += value;
      this.$refs.textInput.$el.focus();
    }
  }
};
</script>

<style lang="scss">
</style>
