<template>
  <nav class="navbar has-shadow is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item is-hidden-tablet">
          <b-dropdown>
            <a slot="trigger">
              <b-icon icon="bookmark"/>
            </a>
            <b-dropdown-item>
              <div class="menu">
                <p class="menu-label">
                  {{ $t('bookmark.label') }}
                </p>
                <nested-ul
                  :current="themes"
                  :nested="nested"
                />
              </div>
            </b-dropdown-item>
          </b-dropdown>
        </div>
        <nuxt-link
          :to="localePath({name: 'index'})"
          class="navbar-item"
        >
          <span class="has-text-weight-bold is-size-4">tagbottle (α)</span>
        </nuxt-link>
        <a
          :class="showMenu ? 'navbar-burger is-active' : 'navbar-burger'"
          role="button"
          aria-label="menu"
          aria-expanded="false"
          @click="showMenu = !showMenu"
        >
          <span/>
          <span/>
          <span/>
        </a>
      </div>
      <div :class="showMenu ? 'navbar-menu is-active' : 'navbar-menu'">
        <div
          v-if="currentUser"
          class="navbar-start"
        >
          <nuxt-link
            :to="localePath({name: 'chat'})"
            class="navbar-item"
          >
            <span class="icon">
              <b-icon icon="message-text"/>
            </span>
            <span>
              {{ $t('navigation.labelForChat') }}
            </span>
          </nuxt-link>
          <nuxt-link
            :to="localePath({name: 'stamp'})"
            class="navbar-item"
          >
            <span class="icon">
              <b-icon icon="thumb-up"/>
            </span>
            <span>
              {{ $t('navigation.labelForStamp') }}
            </span>
          </nuxt-link>
        </div>
        <div
          v-if="currentUser"
          class="navbar-end"
        >
          <div class="navbar-item is-hidden-mobile">
            <b-field>
              <b-input
                v-model="manualTag"
                :placeholder="$t('navigation.placeholderForSelectTag')"
                @keydown.native.meta.enter.prevent="selectTag({tag: manualTag})"
                @keyup.native.meta.enter.prevent="selectTag({tag: manualTag})"
                @keyup.native.ctrl.enter.prevent="selectTag({tag: manualTag})"
              />
              <p class="control">
                <button
                  class="button is-info"
                  @click="selectTag({tag: manualTag})"
                >
                  {{ $t('navigation.buttonForSelectTag') }}
                </button>
              </p>
            </b-field>
          </div>
          <div class="navbar-item">
            <b-dropdown position="is-bottom-left">
              <a
                slot="trigger"
                class="button is-white"
              >
                <span v-if="currentUser.photoUrl">
                  <img
                    :src="currentUser.photoUrl"
                    class="image"
                  >
                </span>
                <span v-else>
                  <b-icon icon="account"/>
                </span>
                <span class="icon">
                  <b-icon icon="chevron-down"/>
                </span>
              </a>
              <b-dropdown-item has-link>
                <nuxt-link
                  :to="localePath({name: 'profile'})"
                >
                  <span class="icon">
                    <b-icon icon="account"/>
                  </span>
                  <span>
                    {{ $t('navigation.labelForProfile') }}
                  </span>
                </nuxt-link>
              </b-dropdown-item>
              <hr class="dropdown-divider">
              <b-dropdown-item has-link>
                <a
                  href="https://docs.tagbottle.com"
                  target="_blank"
                >
                  <span class="icon">
                    <b-icon icon="file-document"/>
                  </span>
                  <span>
                    {{ $t('navigation.labelForDocument') }}
                  </span>
                </a>
              </b-dropdown-item>
              <b-dropdown-item has-link>
                <a
                  v-if="currentUser"
                  @click="signOut">
                  <span class="icon">
                    <b-icon icon="logout"/>
                  </span>
                  <span>
                    {{ $t('navigation.labelForLogout') }}
                  </span>
                </a>
                <a
                  v-else
                  @click="auth">
                  <b-icon icon="login"/>
                  {{ $t('navigation.labelForLogin') }}
                </a>
              </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </div>
    </div>
  </nav>

</template>

<script>
import nestedUl from "~/components/chat/nestedUl";
import { mapGetters, mapState, mapActions } from "vuex";

export default {
  components: { nestedUl },
  data() {
    return {
      manualTag: "",
      showMenu: false
    };
  },
  computed: {
    ...mapGetters("app", ["currentUser", "nested"]),
    ...mapState("chat", ["themes"])
  },
  methods: {
    ...mapActions("app", ["auth", "signOut"]),
    async selectTag({ tag }) {
      if (!tag) {
        return;
      }
      const themes = tag ? tag.split("/") : [];
      this.$router.push(this.localePath({ name: "chat", query: { themes } }));
      this.manualTag = "";
    }
  }
};
</script>

<style scoped>
</style>
