<template>
  <div class="wrapper">
    <navigation/>
    <section class="section has-background-light">
      <div class="container">
        <nuxt/>
      </div>
    </section>
    <license/>
  </div>
</template>

<script lang="ts">
import License from "~/components/license";
import Navigation from "~/components/navigation";

export default {
  components: { Navigation, License }
};
</script>

<style>
.wrapper {
  min-height: 100vh;
}
</style>
